<body>

  <h1>

    ようこそ
  　<strong>Bookers</strong>
  　へ！

  </h1>

  <p>

    <br>
    <strong>Bookers</strong>
    では、さまざまな書籍に関するあなたの意見や
    <br><br><br>
    印象を共有し交換することができます
    <br><br>

  </p>

  <p>

    <a href="/lists">start</a>

  </p>

</body>